<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.domain.member.dao.MemberDAO">
	
	<!-- 스케줄 참가하기 버튼 클릭시 작성할 내 정보 조회 -->
	<select id="getMemberList" parameterType="MemberVO" resultType="MemberVO">
		select * from member where member_index = #{memberIndex}
	</select>
	
	<!-- 모든 회원 정보 조회 -->
	<select id="allMemberList" resultType="MemberVO">
		select * from member order by member_index desc 
	</select>
	
	
	<!-- 관리자 -->
	<!-- 계정 정보 조회 -->
	<select id="getAccountInfo">
		select member_index, admin_status, member_nickname, member_status
		from member
		where member_id = #{memberId}
	</select>
	
	<!-- 계정 생성 -->
	<insert id="accountC">
		insert into member(admin_status, member_id, member_password,
		member_phonenumber, member_nickname, member_sex, member_birth,
		member_registe_date)
		values(#{adminStatus}, #{memberId}, #{memberPassword}, #{memberPhoneNumber}
		, #{memberNickname}, #{memberSex}, #{memberBirth}, #{memberRegisteDate})
	</insert>
	
	<!-- 계정 정보 수정 -->
	<update id="accountU">
		update member
		set admin_status = #{adminStatus},
			member_nickname = #{memberNickname},
			member_status = #{memberStatus}
		where member_id = #{memberId}
	</update>
	
	<!-- 계정 삭제 -->
	<delete id="accountD">
		delete from member
		where member_id = #{memberId}
	</delete>
	
</mapper>