<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.domain.member.dao.MemberDAO">
	
	<!-- 스케줄 참가하기 버튼 클릭시 작성할 내 정보 조회 -->
	<select id="getMemberList" parameterType="MemberVO" resultType="MemberVO">
		select * from member where member_index = #{memberIndex}
	</select>
	
	
	<!-- 관리자 -->
	<!-- 모든 회원 정보 조회 -->
	<select id="allMemberList" resultType="MemberVO">
		select m.*,
		 (select count(*) from board b where b.MEMBER_INDEX = m.MEMBER_INDEX ) as board_cnt,
		 (select count(*) from comment c where c.MEMBER_INDEX = m.MEMBER_INDEX) as comment_cnt,
		 (select count(*) from schedule s where s.MEMBER_INDEX = m.member_index) as schedule_cnt
		from member m
		order by m.MEMBER_INDEX desc
	</select>
	
	<!-- 계정 정보 조회 -->
	<select id="getAccountInfo" resultType="MemberVO">
		select * from member where member_id = #{memberId}
	</select>
	
	<!-- 계정 정보 수정 -->
	<update id="accountU" parameterType="MemberVO">
		update member
		set admin_status = #{adminStatus},
			member_nickname = #{memberNickname},
			member_status = #{memberStatus}
		where member_index = #{memberIndex}
	</update>
	
	<!-- 계정 삭제 -->
	<delete id="accountD" parameterType="MemberVO">
		delete from member
		where member_index = #{memberIndex}
	</delete>
	
</mapper>