<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.category.dao.CategoryDAO">
	
	<!-- 클릭된 분류별 카테고리 출력하는 쿼리 -->
	<select id="getCategoryLocList" parameterType="CategoryVO" resultType="com.example.domain.location.vo.LocationVO">
		SELECT l.*, li.*
		FROM category c
		JOIN location l ON c.CATEGORY_ID = l.CATEGORY_ID 
		JOIN location_image li ON l.LOCATION_ID = li.LOCATION_ID
		WHERE c.MIDDLE_CATEGORY = #{middleCategory}
		ORDER BY l.LOCATION_ID DESC
	</select>
	
	<!-- 회원가입시 입력한 카테고리리스트로 해당 categoryId 가져오기  [최성익] -->
	<select id="getCategoryId" parameterType='java.util.List' resultType='integer'>
		SELECT CATEGORY_ID FROM CATEGORY WHERE SMALL_CATEGORY IN
		<foreach collection='list' item='smallCategory' open="(" separator="," close=")">
			#{smallCategory}
		</foreach>
	</select>

	
</mapper>