<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.category.dao.CategoryDAO">
	
	<!-- 카테고리 페이지 출력하는 쿼리 -->
	<select id="locationList" parameterType="LocationVO" >
		SELECT LOCATION_NAME locationName, LOCATION_ID locationId, LOCATION_RATING locationRating
		, LOCATION_PLACE locationPlace
		FROM location
		<!-- JOIN category c 
		ON l.CATEGORY_ID = c.CATEGORY_ID
		WHERE c.MIDDLE_CATEGORY = #{middleCategory} -->
		ORDER BY LOCATION_ID DESC
	</select>

	<!-- 클릭된 분류별 카테고리 출력하는 쿼리 -->
	<select id="getCategoryLocList" parameterType="CategoryVO" resultType="com.example.domain.location.vo.LocationVO">
		SELECT l.LOCATION_NAME locationName, l.LOCATION_ID locationId, l.LOCATION_RATING locationRating
		, l.LOCATION_PLACE locationPlace
		FROM category c
		JOIN location l ON c.CATEGORY_ID = l.CATEGORY_ID
		WHERE c.MIDDLE_CATEGORY = #{middleCategory}
		ORDER BY l.LOCATION_ID DESC
	</select>
	
	<!-- 클릭된 장소 id 받아서 상세 정보 출력하는 쿼리 -->
	<!-- 
	<select id="getCategoryLoc" parameterType="CategoryVO" resultType="com.example.domain.location.vo.LocationVO">
		SELECT l.*
		FROM category c INNER JOIN location l
		ON c.CATEGORY_ID = l.CATEGORY_ID
		WHERE LOCATION_ID = #{locationId}
	</select> -->
	
</mapper>