@charset "UTF-8";
/* 
	적용파일명 	signup.jsp 
	페이지명	이용약관 페이지 
	용도		css
	작성자 	최성익 
*/

.row .hadam_rule{						/* 약관동의 글 div */
	max-height : 300px;					/* 높이 제한 */
	overflow-y : auto;					/* 스크롤 옵션 */
	width :	100%;						/* 기본 50%인거 100%으로 변경 */
	
}

.hadam_rule_check{						/* 이용약관 동의 체크 박스 있는 부분 화면 div */
	margin-top : 20px;					/* 바닥 마진 넣기 */
	float : right;						/* 이용약관 체크 하는거 오른쪽 정렬 */
}

.col-sm-6 > input.confirm_password {	/* qlalf */
	margin-bottom :	16px;				/* 비밀번호 확인 칸 바텀마진 제거 */
}

.col-sm-6 > input[type=button].check_button {
	padding : 14px 20px 14px 20px;		/* 중복확인버튼 2개 패딩 조절 */
	cursor : pointer;					/* 버튼 포인터 설정 */
}

.col-sm-6  .confirm_id_comment {		
	float : right;						/* 아이디 중복확인 안내문구 오른쪽 정렬 */
	color : #f14e4e;					/* 색깔 설정 */ 
}

.col-sm-6  .confirm_password_comment {
	float : right;						/* 비밀번호 안내 문구 오른쪽 정렬 */
	color : #f14e4e;					/* 색깔 설정 */ 
}


#rule_agree {
	float : right;						/* 약관동의 창에서 다음 버튼 */
}

.disa {
	pointer-events: none;				/* 동의 안하면 다음 못누르게 하는 클래스 */
}

.row .col-sm-6 .check_input {			
	width : 70%;						/* 체크해야 하는 input태그 크기조절 */
}

.row .col-sm-6 .check_button {			
	width : 28%;						/* 체크해야 내용 확인버튼 크기조절 */
	float : right;						/* 위치조절 */

}






/* 나중에 js에 아이콘 fa-bounce 클래스 넣기 */