@charset "UTF-8";


/* 스케줄테이블 안에 스케줄 하나 wraper */
.schedule-wrap {
	width: 15%;
    height: auto;
	display: inline-block;
}

.schedule-wrap-article {
	border-radius: 10px;
    background: #fff;
    border: 1px solid #eee;
    height: 200px;
}

.scheduleContext-wrap {
	border-top: 1px solid #eee;
	padding-top:5px;
}

.scheduleName {
	width: 100%;
    display: inline-block;	
}
.scheduleName span {
	float: left;
    font-size: large;
    color: #708090;
}

.arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid lightblue; /* 화살표의 색상을 여기서 조정하세요 */
	position:relative;
	top:-50px;
	margin: 0 7 0 7px;
}

/* 스케줄 img 태그 */
.schedule-img {
	width: 99%;
	height : 100px;
	border-radius: 10px 10px 0 0;
	transform: translateZ(0);
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    
	
}

.schedule-img:hover {
	transform: scale(1.15);
	transition : .5s;
}

/* 스케줄 장소이름 태그 */
.schedule-locationName {
	padding-top:5px;
	display: block;
	height: 63px;
}


/* 스케줄 장소 영업시간 */
.schedule-locationTime {
	font-size: 17px;
}

