@charset "UTF-8";

.pass-input-wrap.fl-wrap label span.password_comment {
	/* all: unset !important; */		
	position : sticky;					/* span 태그 전체 css 때문에 위치조절 */
	margin-left: 20px;
}

.pass-input-wrap.fl-wrap label span.passwordCheck_comment {
	/* all: unset !important; */
	position : sticky;
	margin-left: 20px;
}