@charset "UTF-8";

.dashboard-message .del-btn:hover {
	background : #f91942;
}

.dashboard-message .del-btn {
	position : absolute;
	background : #f9b90f;
	color : #fff;
	padding : 9px 22px;
	border-radius : 4px;
	right : 30px;
	top : 28px;
}

.fa-solid.fa-star {
	color : #e20808;
}

.locationRating {
	margin : 7 0 0 0;
	float : right;
}

.locationInfo {
	display : grid;
}

.dashboard-listing-table-image img{
	height: 160px !important;	
	object-fit: cover;
}

.favoritesNull {
	padding-bottom : 30px;
	margin: 100 20 0 20px;
}