.scheduleSummary img {
	border-radius: 20%;
	width: 150;
	height: 150;
	margin-right: 10;
	margin-left: 10;
}

.scheduleinven img {
	border-radius: 20%;
	width: 150;
	height: 150;
	margin-right: 10;
	margin-left: 10;
}

.scheduleTable img {
	border-radius: 20%;
	width: 180px;
	height: 150px;
}

.table-bordered {
	table-layout: fixed;
}

.table-responsive {
	border: 1px solid rgba(221, 221, 221, .6);
	background-color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	border-top: none;
	float: left;
}

.table-responsive .table-bordered {
	margin-bottom: 0 !important;
}

.table-responsive th {
	width: 180px;
}

.scheduleTable .ui-droppable {
	transition: background-color 0.3s;
	padding: 0;
}

.scheduledrophover {
	background-color: #D3D3D3 !important;
}

.ui-droppable {
	height: 150.91px
}

.scheduleTable td:hover {
	background-color: #D3D3D3;
	transition: background-color 0.3s;
	cursor: pointer;
}

.scheduleTable td:active {
	background-color: #ffff;
	transition: background-color 0.3s;
}

.scheduleaddform .modal-footer {
	justify-content: space-evenly;
}

.ui-resizable.ui-resizable-ghost {
	display: inline-block !important;
	border-radius: 20%;
}

.list-wrap-search {
	height: 200px;
}

.schedulecontent {
	height: 100%;
}

.ui-wrapper {
	left: 0px
}

.scheduleaddform {
	height: 90%
}

.select2 {
	width: 19% !important;
	margin-right: 30px !important;
}

.searchinput {
	width: 18%
}

#schedulemodalLabel {
	padding-right: 20px;
}

.searchbtn {
	background-color: #ffffff;
	border: none;
}

.modal-body .dashboard-list {
	background-color: aliceblue !important;
}

.dashboard-listing-table-address {
	float: none !important;
}

.btn-two {
	color: white;
	padding: 15px 25px;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom-color: rgba(0, 0, 0, 0.34);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset, 0 2px 0 -1px
		rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08), 0 3px 13px -1px
		rgba(0, 0, 0, 0.21);
	color: #525252 !important;
	text-decoration-line: none;
}

.btn-two:active {
	border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21)
		rgba(0, 0, 0, 0.21);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05)
		inset;
	position: relative;
}

.btn-two.small {
	padding: 8px 18px;
	font-size: 14px;
}

.btn-two.small {
	margin: 9px;
	float: right;
	position: relative;
	bottom: 20;
}

.btn-two-submit{
	width: 150px;
	height: 40px;
	padding: 0px 0px 
}


.btn-two.blue {
	background-color: #80d8ff;
}

.locationname {
	color: black !important;
	text-decoration-line: none;
}

.arrow {
	border: 1px solid #ccc;
}

.pprev {
	background: #f8f8f8 url('/images/arrow/page_pprev.png') no-repeat center
		center;
	margin-left: 0;
}

.prev {
	background: #f8f8f8 url('/images/arrow/page_prev.png') no-repeat center
		center;
	margin-right: 7px;
}

.next {
	background: #f8f8f8 url('/images/arrow/page_next.png') no-repeat center
		center;
	margin-left: 7px;
}

.nnext {
	background: #f8f8f8 url('/images/arrow/page_nnext.png') no-repeat center
		center;
	margin-right: 0;
}

.page_wrap {
	text-align: center;
	font-size: 0;
}

.page_nation {
	display: inline-block;
}

.page_nation .none {
	display: none;
}

.page_nation a.active {
	background-color: #3AACED;
	color: #fff;
	border: 1px solid #42454c;
}

.page_nation a{
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}

.baisc {
	vertical-align: middle;
	line-height: 30;
	font-size: 20;
}

#listBox {
	display: flex;
	background-color: white;
	border-radius: 10px;
	height: 320px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative;
	justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.listItem {
	height: auto !important;
	width: 165px !important;
}

.arrowBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	margin: 0;
}

.timeTaken {
	position: relative;
	white-space: nowrap;
	top: 15px;
}

#information {
	position: relative;
	bottom: -130px;
	width: 300px;
}

.arrow2 {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid lightblue; /* 화살표의 색상을 여기서 조정하세요 */
	position: relative;
}

.whatTime {
	position: relative;
}

#scheduleTitle {
	position: relative;
}

.scheduleaddform .dashboard-listing-table-image img{
	width:117.89px;
	height: 78.09px;
}

.map-item{
	font-size: 14px !important;
	text-decoration: none;
}

.geodir-category-img img{
	width: 150px !important;
    height: 130px !important;
}

.geodir-category-content-title:before{
	top:20px !important;
}

.scheduletitle , #datepicker{
  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  margin: 20px;
  text-align: center;
}

.daterangepicker.single.auto-apply{
	width: auto !important;
}