<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.domain.report.dao.ReportDAO">
	
	<!-- 읽지 않은 신고 리스트 5개 출력 -->
	<select id="unProcessedReportList" resultType="BoardAndCommentReportVO">
		select r.* , m.MEMBER_ID as reported_member,
		(select m.MEMBER_ID from member m
		where m.MEMBER_INDEX = r.BOARD_COMMENT_REPORTER) as reporter_member
		from board_comment_report r 
		inner join comment c on r.COMMENT_ID = c.COMMENT_ID
		inner join member m on c.MEMBER_INDEX  = m.MEMBER_INDEX
		where r.BOARD_COMMENT_REPORT_STATUS = 1
		order by r.BOARD_COMMENT_REPORT_ID desc
		limit 5
	</select>
	
	<!-- 신고 리스트 출력 -->
	<select id="reportList" resultType="BoardAndCommentReportVO">
		select r.*, c.COMMENT_CONTENT as comment_content, m.MEMBER_ID as reported_member,
		(select m.MEMBER_ID from member m
		where m.MEMBER_INDEX = r.BOARD_COMMENT_REPORTER) as reporter_member 
		from board_comment_report r 
		inner join comment c on r.COMMENT_ID = c.COMMENT_ID
		inner join member m on c.MEMBER_INDEX  = m.MEMBER_INDEX 
		order by r.BOARD_COMMENT_REPORT_ID desc
	</select>
	
	<!-- 회원 정지 -->
	<update id="suspendMember" parameterType="BoardAndCommentReportVO">
		update board_comment_report r
		join comment c on r.COMMENT_ID = c.COMMENT_ID
		join member m on c.MEMBER_INDEX = m.MEMBER_INDEX
		set r.BOARD_COMMENT_REPORT_STATUS = 0,
			m.MEMBER_STATUS = '정지'
		where r.COMMENT_ID = #{commentId};
	</update>
	
	<!-- 정지 해제 -->
	<update id="releaseMember" parameterType="BoardAndCommentReportVO">
		update board_comment_report r
		join comment c on r.COMMENT_ID = c.COMMENT_ID
		join member m on c.MEMBER_INDEX = m.MEMBER_INDEX
		set r.BOARD_COMMENT_REPORT_STATUS = 1,
			m.MEMBER_STATUS = '정상'
		where r.COMMENT_ID = #{commentId};
	</update>
	
</mapper>