<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.preference.dao.PreferenceDAO">
	
	<insert id="SignupPreference" parameterType="map">
		INSERT INTO PREFERENCE (MEMBER_INDEX, CATEGORY_ID)
		VALUES 
		<foreach collection="checkedCategory" item='categoryId' separator=','>
			(#{memberIndex}, #{categoryId})
		</foreach>
	</insert>
	
	<select id = "SelectPreferenceByMemberIndex" parameterType="Integer" resultType="String">
		SELECT c.SMALL_CATEGORY
		FROM preference p
		JOIN category c 
		ON p.CATEGORY_ID = c.CATEGORY_ID
		JOIN `member` m
		ON m.MEMBER_INDEX  = p.MEMBER_INDEX
		WHERE m.MEMBER_INDEX = #{memberIndex} AND
		<foreach collection = "categoryList" item="category" open="(" close=")" separator='OR'>
		c.LARGE_CATEGORY = #{category}
		</foreach>
	</select>

	
</mapper>