@charset "UTF-8";
 #listBox {
     				 display: flex;
                     justify-content: space-between;
                     background-color: white;
            		 border-radius: 10px;
            		 height:320px;
            		 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
            		 position:relative;
            		 right:-200px;
     			}
     			
     			#listItem {
     				margin-right:30px;
     				width: 280px;
     				position:relative;
     				bottom:-40px;
     				right:-30px;
     			}
     			
     			#box {
     				width:1600px;
     				position:relative;
     				left:-300px;
     			}
     			
     			#information {
     				position: relative;
     				bottom:-130px;
     				width:300px;
     			}
     			
     			#shareBtn {
     				width:120px;
            		height:25px;
            		font-size:14px;     
            		text-align : center;
	 				padding : 0 0;
	 				position:relative;
	 				bottom:-10px;
	 				right:-930px;
	 				
     			}
     			
     			.pagination {
     				position:relative;
     				right:-550px;
     			}
     			
				.arrowBox {
				  display: flex;
				  justify-content: center;
				  align-items: center;
				  height: 50vh;
				  margin: 0;
				}

				.arrow {
				  width: 0;
				  height: 0;
				  border-top: 10px solid transparent;
				  border-bottom: 10px solid transparent;
				  border-left: 20px solid lightblue; /* 화살표의 색상을 여기서 조정하세요 */
				  position:relative;
				  right:-25px;
				  top:-50px;
				}

				.timeTaken {
					position:relative; 
					bottom:-200px; 
					white-space: nowrap;
					
				}
				
				.whatTime {
					position:relative;
					top:-30px;
				}
				
				#scheduleTitle {
					position:relative;
					bottom:-20px;
					right:-200px;
				}
				
				#timeBox h3{
					font-size:13px;
					white-space: nowrap;
				}
				
				#moveTab {
				 position:relative;
				 left:-90px;
				}
				
				#realArrow {
					padding-top: 80px;
					/* 
					text-decoration:none;
					font-size:1px;
					position: relative;
					display:inline-block; */
				}
				
				#realArrow span{
					 position: absolute;
					 top: 0;
					 left: 50%;
					 width: 24px;
					 height: 24px;
					 margin-left: -12px;
					 border-left: 1px solid black;
					 border-bottom: 1px solid black;
					 -webkit-transform: rotate(-45deg);
					 transform: rotate(-135deg);
					 -webkit-animation: sdb 2s infinite;
					 animation: sdb 2s infinite;
					 opacity: 0;
					 box-sizing: border-box;
					
				}
				
				#realArrow span:nth-of-type(1) {
				
					 -webkit-animation-delay: 0s;
  					 animation-delay: 0s;
				}
				
				#realArrow span:nth-of-type(2) {
					top: 16px;
  					-webkit-animation-delay: .15s;
  					animation-delay: .15s;
				}
				
				#realArrow span:nth-of-type(3) {
					top: 32px;
  					-webkit-animation-delay: .3s;
  					animation-delay: .3s;
				}
				
				@-webkit-keyframes sdb {
				  0% {
				    opacity: 0;
		
				  }
				  50% {
				    opacity: 1;

				  }
				  100% {
				    opacity: 0;
	
				  }
				}
				
				@keyframes sdb {
				  0% {
				    opacity: 0;

				  }
				  50% {
				    opacity: 1;

				  }
				  100% {
				    opacity: 0;

				  }
				}
							
							