<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.member.dao.SignDAO">

	
	<!-- 아이디 중복확인 -->
	<select id="memberIdCheck" parameterType="String" resultType="String">
		SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_ID = #{id}
	</select>
	
	<!-- 닉네임 중복확인 -->	
	<select id="memberNicknameCheck" parameterType="String" resultType="String">
		SELECT MEMBER_NICKNAME FROM MEMBER WHERE MEMBER_NICKNAME = #{nickname}
	</select>

	<!-- 전화번호 중복확인 -->
	<select id="memberCheckSMS" parameterType="String" resultType="String">
		SELECT MEMBER_PHONENUMBER FROM MEMBER WHERE MEMBER_PHONENUMBER = #{phone}
	</select>
	
	<!-- 회원정보 입력 -->
	<insert id="signupCompletion" parameterType="com.example.domain.member.vo.MemberVO">
		INSERT INTO MEMBER(MEMBER_ID, MEMBER_PASSWORD, MEMBER_PHONENUMBER
							, MEMBER_NICKNAME, MEMBER_SEX, MEMBER_BIRTH, MEMBER_REGISTE_DATE) 
		VALUES(#{memberId}, #{memberPassword}, #{memberPhoneNumber}
							, #{memberNickname}, #{memberSex}, #{memberBirth}, NOW())
	</insert>
	
	<!-- 카테고리 정보 입력시 필요 member 검색 -->
	<select id="getMemberIndex" parameterType="String" resultType="integer" >
		SELECT MEMBER_INDEX FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>



	<!-- 로그인 정보 확인 후 로그인 페이지 이동 -->
	<select id="loginCheck" parameterType="com.example.domain.member.vo.MemberVO" resultType="com.example.domain.member.vo.MemberVO">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId} AND MEMBER_PASSWORD = #{memberPassword}
	</select>

	<!-- 로그인 시 프로필 사진 가져오기 -->
	<select id="profileCheck" parameterType="integer">
		SELECT * FROM MEMBER_UPLOAD_IMAGE WHERE MEMBER_INDEX = #{memberIndex} AND MEMBER_UPLOAD_IMAGE_PATH = "images/profile"
	</select>

	<!-- 네이버 회원 확인 -->
	<select id="naverMemberCheck" parameterType="String" resultType="String">
		SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>

	<insert id="naverSignup" parameterType="com.example.domain.member.vo.MemberVO">
		INSERT INTO MEMBER(MEMBER_ID, MEMBER_PASSWORD, MEMBER_PHONENUMBER
							, MEMBER_NICKNAME, MEMBER_SEX, MEMBER_BIRTH, MEMBER_REGISTE_DATE , MEMBER_API)
					VALUES (#{memberId}, #{memberPassword}, #{memberPhoneNumber}
							, #{memberNickname}, #{memberSex}, #{memberBirth}, NOW(), #{memberApi})
	</insert>

</mapper>