<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.domain.schedule.dao.ScheduleDAO">

	<select id="getScheduleList" parameterType="Integer" resultType="ScheduleVO">
		select st.*, s.*, l.*, li.*
		from schedule_table st 
		inner join schedule s
		on st.SCHEDULE_TABLE_ID  = s.SCHEDULE_TABLE_ID 
		inner join location l 
		on s.LOCATION_ID = l.LOCATION_ID 
		inner join location_image li 
		on l.LOCATION_ID = li.LOCATION_ID
		where st.SCHEDULE_TABLE_ID = #{scheduleTableId}
	</select>
	<!-- 스케줄 공유 게시판 스케줄 목록 출력 -->
	<select id="getScheduleBoardList" resultType="ScheduleVO" parameterType="ScheduleTableVO">
		select s.*,st.*,l.*,li.*,b.*
		from schedule s
		inner join schedule_table st
		on st.SCHEDULE_TABLE_ID  = s.SCHEDULE_TABLE_ID 
		inner join board b
		on b.SCHEDULE_TABLE_ID = st.SCHEDULE_TABLE_ID 
		inner join location l
		on l.LOCATION_ID = s.LOCATION_ID 
		inner join location_image li 
		on li.LOCATION_ID = l.LOCATION_ID
		where st.SCHEDULE_TABLE_STATUS ="공유중"	AND
		<foreach collection="getScheduleTableBoardList" item="scheduleTable" separator="OR">
		st.SCHEDULE_TABLE_ID = #{scheduleTable.scheduleTableId}
		</foreach>
		order by st.SCHEDULE_TABLE_ID desc
	</select>
	
	<insert id="insertScheduleList" parameterType="map">
    INSERT INTO schedule(
          LOCATION_ID
        , SCHEDULE_TABLE_ID
        , MEMBER_INDEX
        , SCHEDULE_START_TIME
        , SCHEDULE_END_TIME
    ) VALUES 
    <foreach collection="svoList" item="schedule" separator=",">
    (
          #{schedule.locationId}
        , #{scheduleTableId}
        , #{memberIndex}
        , #{schedule.scheduleStartTime}
        , #{schedule.scheduleEndTime}
    )
    </foreach>
	</insert>
	
	<select id="mypageSchedule" parameterType="integer" resultType="com.example.domain.schedule.vo.ScheduleVO">
		SELECT * FROM schedule_table st JOIN schedule s
		ON st.SCHEDULE_TABLE_ID = s.SCHEDULE_TABLE_ID 
		JOIN location l
		ON s.LOCATION_ID = l.LOCATION_ID 
		JOIN location_image li 
		ON l.LOCATION_ID = li.LOCATION_ID
		WHERE st.MEMBER_INDEX = #{memberIndex} AND st.SCHEDULE_TABLE_STATUS != "삭제" ;
	</select>
	
	
</mapper>